.detailsContainer {
    max-width: 1440px;
    padding: 84px 120px 104px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 640px 488px;
    column-gap: 72px;
}

.carImage {
    border-radius: 19px;
    margin-bottom: 40px;
}

.form {
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 32px;
}

.form h3 {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #101828;
}

.form p {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #8d929a;
}


.field {
    width: 100%;
    border-radius: 12px;
    padding: 14px 20px;
    background: #f7f7f7;
    border: none;
    resize: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #8d929a;
    outline: none;
    transition: border 0.3s;
}

.field:focus {
    border: 2px solid #3470ff;
}

:global(.react-datepicker-wrapper) {
    width: 100%;
}

.datePicker {
    width: 100%;
    border-radius: 12px;
    padding: 14px 20px;
    background: #f7f7f7;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #8d929a;
}

.formDiv :global(.react-datepicker) {
    background: #fff;
    border: 1px solid #3470ff;
}

.formDiv :global(.react-datepicker-popper .react-datepicker__triangle) {
    stroke: #3470ff;
}

.formDiv :global(.react-datepicker__header) {
    border: none;
    background: #fff;
}

.formDiv :global(.react-datepicker__current-month) {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #101828;
}

.formDiv :global(.react-datepicker__day-names) {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #8d929a;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #3470ff;
}

.formDiv :global(.react-datepicker__day) {
    font-family: "Inter", sans-serif;
    border-radius: 0;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.formDiv :global(.react-datepicker__day--selected) {
    border-radius: 32px;
    width: 36px;
    height: 32px;
    line-height: 32px;
    background: #3470ff;
    color: #fff;
}

.formDiv :global(.react-datepicker__input-container input) {
    border: 1px solid #f7f7f7;
    border-radius: 12px;
    padding: 14px 20px;
    outline: none;
    width: 100%;
    transition: border 0.3s;
}

.formDiv :global(.react-datepicker__input-container input:focus) {
    border: 2px solid #3470ff;
}

.formDiv {
    margin-bottom: 16px;
}

.error {
    font-size: 12px;
    color: lightcoral;
}

.fieldSendBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitBtn {
    border-radius: 12px;
    padding: 12px 51px;
    width: 156px;
    height: 44px;
    background: #3470ff;
    border: none;
    margin-top: 24px;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #fff;

    transition: background-color 0.3s ease;
}

.submitBtn:hover,
.submitBtn:focus {
    background: #0b44cd;
}

.rightWrapper {
    padding-top: 20px;
}

.carInfoCont {
    margin-bottom: 68px;
}

.carInfo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 8px;
}

.carInfo h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #101828;
}

.carInfo span {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #8d929a;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #101828;
}

.location svg {
    margin-right: 4px;
}

.location span:first-of-type {
    margin-right: 16px;
}

.mileage {
    white-space: nowrap;
}

.price {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #3470ff;
    margin-bottom: 32px;
}

.carInfoWrapper>div:not(:last-of-type) {
    margin-bottom: 110px;
}

.carInfoWrapper p {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #101828;
    margin-bottom: 20px;
}

.carInfoWrapper ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #101828;
}

.carInfoWrapper li {
    display: flex;
    gap: 8px;
    align-items: center;
}


