.catalogWrapper {

}

.catalogContainer {
    max-width: 1440px;
    padding: 84px 120px 124px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldLodeMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}